<h3>Soliton Rhythm Calculator</h3>
<div [hidden]="isFormSubmitted">
  <form #rhythmForm="ngForm" (ngSubmit)="onFormSubmit(rhythmForm)">
    <div class="form-group row">
      <label for="selectProject" class="col-sm-2 col-form-label">Zoho Project Name:</label>
      <div class="col-sm-10">
        <select class="form-control" id="selectProject" name="selectProject" [ngModel]="projectNames" #selectProject="ngModel" multiple>
          <option *ngFor="let projectName of projectNames" [ngValue]="projectName">
            {{projectName}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="selectGroup" class="col-sm-2 col-form-label">Rhythm Reporting Name</label>
      <div class="col-sm-10">
        <select class="form-control" id="selectGroup" name="selectGroup" [ngModel]="rhythmreportingnames" #selectGroup="ngModel" (change)="setNewGroup(selectGroup.value)">
          <option *ngFor="let rhythmreportingname of rhythmreportingnames" [ngValue]="rhythmreportingname">
            {{rhythmreportingname}}
          </option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="selectWeek" class="col-sm-2 col-form-label">Reporting Week</label>
      <div class="col-sm-10">
        <select class="form-control" id="selectWeek" name="selectWeek" [ngModel]="reportingweek" #selectWeek="ngModel" (change)="setNewWeek(selectWeek.value)">
          <option *ngFor="let reportingweek of reportingweeks" [ngValue]="reportingweek">
            {{reportingweek}}
          </option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<div [hidden]="!isFormSubmitted">
  <table id="myTable" class="table">
    <thead>
        <tr>
             <th>Name</th>
             <th>Hours Spent</th>
             <th>Planned</th>
             <th>Billable</th>
             <th>Billable Utilization</th>
             <th>Effort</th>
        </tr>
        <tr>
          <th rowspan="6">{{selectedWeekName}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of employees">
          <td *ngFor="let cellValue of data">{{cellValue}}</td>
        </tr>
    </tbody>
  </table>
  <!-- <div *ngFor="let data of employees">
    {{data}}
  </div> -->
  <!-- <div class="row">
    <div class="col-xs-3">Name</div>
    <div class="col-xs-9  pull-left">{{ model.name }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Alter Ego</div>
    <div class="col-xs-9 pull-left">{{ model.alterEgo }}</div>
  </div>
  <div class="row">
    <div class="col-xs-3">Power</div>
    <div class="col-xs-9 pull-left">{{ model.power }}</div>
  </div>
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Edit</button> -->
</div>
