/* You can add global styles to this file, and also import other style files */
body {
  margin: 40px !important;
}

h3 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  text-align: center !important;
}

button {
  margin-left: 50% !important;
  margin-top: 20px !important;
}
